body {
    background-color: #4682b4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  } /* Main body of the website */

.nav {
    background-color: #52DEE5;
    padding: 15px; 
}
a{
    margin-left: 185px;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

footer{
  position: fixed;
   bottom: -20px;
   width: 100%;
   text-align: center;
}/*Styling of the footer*/

.banner {
  height: 54px;
  background-color: #52DEE5;
  border: 1px solid white;
} /*The green bar behind the nav bar links */

/*start of log in and register inputs */
.logname {
  top: 0px;; 
  position: relative;
  text-align: center;
}

.logpass {
  top: 0px;
  position: relative;
  text-align: center;
}

.logbtn {
  top: 0px;
  position: relative;
  text-align: center;
}

.name {
  top: 20px;; 
  position: relative;
  text-align: center;
}
.confName  {
  top: 20px;
  position: relative;
  text-align: center;
}

.Confpass  {
  top: 20px;
  position: relative;
  text-align: center;
}
.pass {
  top: 20px;
  position: relative;
  text-align: center;
}

.scoreB {
  top: 5px;
  position: relative;
  text-align: center;
}

.btn {
  top: 20px;
  position: relative;
  text-align: center;
}

.logBox{
  margin-left: auto;
  margin-right: auto;
  background-color: #263d40;
  font-family: Arial;
  width:500px;
  padding: -20px;
  border:1px solid black;
  height:450px;
  margin-top: 70px;
}

.regBox{
  margin-left: auto;
  margin-right: auto;
  background-color: #263d40;
  font-family: Arial;
  width:500px;
  padding: -20px;
  border:1px solid black;
  height:500px;
  margin-top: 70px;
}

input[type=text], [type=password] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
}
/*end of log in and register inputs*/

table  {
  border:3px solid black;
  position: relative;
  left:2300px;
  border:"1";
  top: 160px;
  background-color: white;
}/*Rule box */

td {
  text-align: center;
}/*Rule box text*/

.playBtn {
  cursor: pointer;
  text-align: center;
  position: relative;
  left: 350px;
  top: 20px;
  width: 400px;
  padding: 15px;
  border-radius: 12px;
}

.logo {
  transform: translate(135px, 20px);
}/* logo that is seen on register and login pages */

.placeHolder {
  width: 1000px;
  text-align: center;
  height: 200px;
  margin-bottom: 50px;
  background-image: url("assets/game.gif");
}

.score {
  border: 1px solid black;
  background-color: white;
  width: 300px;
  height: 400px;
  margin-left: 650px;
  text-align: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.gif {
 transform: translate(100px, -150px);
}

.Result {
  
  text-align: center;
}

table, td {
  margin-left: -1200px;
border: 1px solid black;
}
.buttonSc {
cursor: pointer;
text-align: center;
position: relative;
left: 650px;
margin-top: 30px;
width: 200px;
padding: 15px;
border-radius: 12px;
}

.scoreN {
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: black;
margin-top: 650px;
margin-left: 40px;

}
